<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockABees Home</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>

    <ul class="navbar">
      <li class="navbar"><a class="navbar active" href="/">Home</a></li>
      <li class="navbar"><a class="navbar" href="blockchainexplorer">Blockchain Explorer</a></li>
      <li class="navbar"><a class="navbar" href="pendingtransactions">Pending Transactions</a></li>
      <li class="navbar"><a class="navbar" href="networkexplorer">Network Explorer</a></li>
      <li class="navbar" style="float:right"><a class="navbar" class="active" href="#about">About</a></li>
    </ul>

    <h2>Home</h2>

    <hr>

    <h3>Purpose</h3>

    <p>A learning space for myself and others.</p>

    <p>I'm interested in learning more about cryptocurrencies, the concept and application of blockchain,

    coins, tokens, smart contracts, exchanges. By building this project myself, I can understand the value and flaws and if it's worth it.</p>

    <p>For others it can be a space to play around and learn without investing real money.</p>

    <h3>Project Goals</h3>

    <ul>
        <li>Develop a working blockchain that works similar to the hundreds of 'real' blockchains, with coins, tokens, smart contracts.
            This blockchain is not meant to replace 'the big chains' but to become a place of learning and experimentation.</li>
        <li>Practice my existing software development skills, learn new skills, technics and tools.
            A project like this makes uses of several technologies like HTML, CSS, Javascript, Python, JSON, SQLite, Cryptography and Networking to name a few.
            I'm experienced in all of them and this project is a way to combine them in a way that would be used in a real life scenario.</li>
        <li>Evaluate what technologies add value to the project and reject those that are unnecessarily complex.
            A new hot language or framework may or may not be the best tool for the job.
            I choose what to use by evaluating the present and future benefits to the project versus the risks and cost.</li>
        <li>Provide users with a working understanding of what they can do with all the services provided. Does it provide something useful or is it hype?</li>
    </ul>

    <hr>

    <h3>Progress</h3>

    <ul>
        <li><strong>2020-02-10</strong> Initial blockchain code deployed.</li>
        <li><strong>2020-02-15</strong> Initial HTML front end deployed. Pages Home, Blockchain Explorer, Pending Transactions.</li>
        <li><strong>2020-02-22</strong> Shortened the text displayed in the columns and replaced it with an ellipsis. Page width now remains within the browser window.</li>
        <li><strong>2020-03-01</strong> Initial work on user wallet.</li>
    </ul>

</body>
</html>