<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChainBlockPy Node Explorer</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>

    <ul class="navbar">
      <li class="navbar"><a class="navbar" href="/">Home</a></li>
      <li class="navbar"><a class="navbar" href="blockchainexplorer">Blockchain Explorer</a></li>
      <li class="navbar"><a class="navbar" href="transactionexplorer">Transaction Explorer</a></li>
      <li class="navbar"><a class="navbar active" href="nodeexplorer">Node Explorer</a></li>
      <li class="navbar" style="float:right"><a class="navbar" class="active" href="#about">About</a></li>
    </ul>

    <h2>Node Explorer</h2>

    <table id='table'>

        <tbody>

            <tr>
                <th>Node</th>
            </tr>

        </tbody>

    </table>

</body>
</html>