<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockABees Transaction Explorer</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>

    <ul class="navbar">
      <li class="navbar"><a class="navbar" href="/">Home</a></li>
      <li class="navbar"><a class="navbar" href="blockchainexplorer">Blockchain Explorer</a></li>
      <li class="navbar"><a class="navbar active" href="pendingtransactions">Pending Transactions</a></li>
      <li class="navbar"><a class="navbar" href="networkexplorer">Network Explorer</a></li>
      <li class="navbar" style="float:right"><a class="navbar" class="active" href="#about">About</a></li>
    </ul>

    <h2>Transactions Explorer</h2>

    <table id='table'>

        <tr>
            <th>Transaction<br>ID</th>
            <th>Transaction<br>Type</th>
            <th>Sender Public Key</th>
            <th>Receiver Public Key</th>
            <th>Amount</th>
            <th>Signature</th>
            <th>Time Stamp</th>
        </tr>

        <script>

        $.getJSON('/txnpool', function(data) {

            console.log(data);

            var out = '';

            // Iterate through each block.
            $.each(data, function (key, value) {

                out += '<tr>';

                out += '<td class=\"truncated\">' + value.id + '</td>';
                out += '<td>' + value.txnType + '</td>';
                out += '<td class=\"truncated\">' + value.sndrPubKey + '</td>';
                out += '<td class=\"truncated\">' + value.rcvrPubKey + '</td>';
                out += '<td>' + value.amount + '</td>';
                out += '<td class=\"truncated\">' + value.signature + '</td>';
                out += '<td>' + value.timeStamp + '</td>';

                out += '</tr>';

                console.log(out);

                //INSERTING ROWS INTO TABLE
                $('#table').append(out);

            out = '';

            });

        });

        </script>

    </table>

</body>
</html>