<html>
<head>
    <title>Transaction Pool Explorer</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>

<style>
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%
    border-collapse: collapse;
}

th {
    background-color: gray;
    color: white;
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid gray;
}

tr:nth-child(even) {
    background-color: lightgray;
}
</style>

<body>

    <h2>Transactions Explorer</h2>

    <table id='table'>

        <tr>
            <th>Amount</th>
            <th>ID</th>
            <th>Receiver Public Key</th>
            <th>Signature</th>
            <th>Sender Public Key</th>
            <th>Timestamp</th>
            <th>Transaction Type</th>
        </tr>
        <script>

        $.getJSON('/txnpool', function(data) {

            console.log(data);

            var out = '';

            // Iterate through each block.
            $.each(data.blocks, function (key, value) {

                out += '<tr>';

                console.log(key);

                $.each(value, function (key2, value2) {

                    out += '<td>' + value2 + '</td>';

                });

            out += '</tr>';

            console.log(out);

            //INSERTING ROWS INTO TABLE
            $('#table').append(out);

            out = '';

            });

        });

        </script>

    </table>

</body>
</html>