<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChainBlockPy Transaction Explorer</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>

    <ul class="navbar">
      <li class="navbar"><a class="navbar" href="/">Home</a></li>
      <li class="navbar"><a class="navbar" href="blockchainexplorer">Blockchain Explorer</a></li>
      <li class="navbar"><a class="navbar active" href="transactionexplorer">Transaction Explorer</a></li>
      <li class="navbar"><a class="navbar" href="nodeexplorer">Node Explorer</a></li>
      <li class="navbar" style="float:right"><a class="navbar" class="active" href="#about">About</a></li>
    </ul>

    <h2>Transactions Explorer</h2>

    <table id='table'>

        <tr>
            <th>Amount</th>
            <th>ID</th>
            <th>Receiver Public Key</th>
            <th>Signature</th>
            <th>Sender Public Key</th>
            <th>Timestamp</th>
            <th>Transaction Type</th>
        </tr>

        <script>

        $.getJSON('/txnpool', function(data) {

            console.log(data);

            var out = '';

            // Iterate through each block.
            $.each(data.blocks, function (key, value) {

                out += '<tr>';

                console.log(key);

                $.each(value, function (key2, value2) {

                    out += '<td>' + value2 + '</td>';

                });

            out += '</tr>';

            console.log(out);

            //INSERTING ROWS INTO TABLE
            $('#table').append(out);

            out = '';

            });

        });

        </script>

    </table>

</body>
</html>